@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Poppins,sans-serif;
}

:root{
    --white:#fff;
    --black:#101010
}

body.active{
    background-color: var(--black);
    color: var(--white);
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--black);
    transition: all 0.5s ease-in-out;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.logo{
    font-size: 2.1rem;
    font-weight: 600;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    margin: 0 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

img{
    width: 100%;
    max-width: 80rem;
    padding: 2rem 0;
}

h1{
    font-size: 2.4rem;
}

h3{
    font-size: 1.4rem;
}

p{
    font-size: 1.2rem;
    padding: 2rem;
}

main{
    text-align: center;
}

button{
    padding: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    width: 60%;
    max-width: 30rem;
    border: none;
    border-radius: 5px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

body.active button{
    background-color: var(--white);
    color: var(--black);
}

@media only screen and (min-width: 800px) {
    
    h1{
        font-size: 4.5rem;
    }
    
    h3{
        font-size: 3.2rem;
    }
    
    p{
        font-size: 2.6rem;
        padding: 2rem;
        margin: 3rem 0;
    }

    ul li{
        font-size: 2.1rem;
        margin-left: 8rem;
    }

    .logo{
        font-size: 3.2rem;
    }

    button{
        font-size: 2.1rem;
        margin: 3rem 0;
    }

  }